/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.body {
  background-color: rgb(218, 31, 31);
  display: flex;
  flex-flow: column;
  align-self: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.header img {
  width: 40%;
  padding-bottom: 0.5vw;
  padding-top: 20px;
}
.header h1 {
  font-size: 2vw;
  padding-bottom: 2vw;
  text-align: center;
  text-shadow: 4px 4px 0 rgb(50, 100, 175), 4px -4px 0 rgb(50, 100, 175), -4px 4px 0 rgb(50, 100, 175), -4px -4px 0 rgb(50, 100, 175), 4px 0px 0 rgb(50, 100, 175), 0px 4px 0 rgb(50, 100, 175), -4px 0px 0 rgb(50, 100, 175), 0px -4px 0 rgb(50, 100, 175);
  color: rgb(255, 204, 1);
  font-family: "Pokemon Solid";
}
.header input {
  background-color: rgb(211, 211, 211);
  border: none;
  width: 40%;
  height: 2vmax;
  font-size: 1.5vmax;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
.header div {
  position: absolute;
  border: 10px;
  border-radius: 100%;
}
.header div.outerball {
  background-color: rgb(23, 106, 159);
  top: -4vw;
  left: -11vw;
  height: 23vw;
  width: 23vw;
  border: white 0.6vw solid;
}
.header div.innerball {
  box-sizing: border-box;
  top: 1.5vw;
  left: 3.5vw;
  height: 12.4vw;
  width: 12.4vw;
  background-color: white;
  border-bottom: rgb(40, 171, 253) solid 4vw;
  border-right: rgb(40, 171, 253) solid 3vw;
  border-top: rgb(40, 171, 253) solid 2vw;
  border-left: rgb(40, 171, 253) solid 2vw;
}

.main {
  position: relative;
  margin: 4% 10%;
  border: 2rem solid rgb(211, 211, 211);
  border-radius: 10px 10px 10px 70px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
  background-color: rgb(32, 32, 32);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.pokeCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  background-color: rgba(230, 230, 230, 0.7);
  border-radius: 10px;
  padding: 4px 0px;
  width: 12%;
  min-width: 200px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
}
.pokeCard img {
  width: 100%;
}
.pokeCard h3 {
  font-size: 1.8vmax;
  padding: 5%;
  text-transform: capitalize;
}

.pokeCard:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.65);
  transition: 220ms;
}

/* Type boxes style were adapted from a pen made by Julien Knebel (@jkneb - http://julienknebel.com/) */
.pokeBox {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.pokeBox span {
  text-align: center;
  font-family: "Trebuchet MS";
  font-weight: bold;
  text-align: center;
  border: 0.1rem solid transparent;
  margin: 0.1rem 0.015rem;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  border-radius: 0.4rem;
  font-size: calc(10px + 0.3vmax);
  width: calc(34px + 2vw);
  min-width: 35px;
  color: white;
  text-shadow: 0rem 0rem 0.2rem black;
}
.pokeBox span.normal {
  background-color: #a8a878;
  border-top-color: #c0c09d;
  border-bottom-color: #8a8a59;
}
.pokeBox span.fire {
  background-color: #F08030;
  border-top-color: #f4a369;
  border-bottom-color: #d3610f;
}
.pokeBox span.fighting {
  background-color: #c03028;
  border-top-color: #da534c;
  border-bottom-color: #8d231d;
}
.pokeBox span.water {
  background-color: #6890f0;
  border-top-color: #a0b9f6;
  border-bottom-color: #3067ea;
}
.pokeBox span.poison {
  background-color: #a040a0;
  border-top-color: #bf5ebf;
  border-bottom-color: #742f74;
}
.pokeBox span.electric {
  background-color: #f8d030;
  border-top-color: #fadd6b;
  border-bottom-color: #e3b708;
}
.pokeBox span.ground {
  background-color: #e0c068;
  border-top-color: #ead59b;
  border-bottom-color: #d6ab35;
}
.pokeBox span.grass {
  background-color: #78c850;
  border-top-color: #9cd77f;
  border-bottom-color: #5aa634;
}
.pokeBox span.flying {
  background-color: #a890f0;
  border-top-color: #d2c6f7;
  border-bottom-color: #7e5ae9;
}
.pokeBox span.ice {
  background-color: #98d8d8;
  border-top-color: #c4e9e9;
  border-bottom-color: #6cc7c7;
}
.pokeBox span.bug {
  background-color: #a8b820;
  border-top-color: #cbdd39;
  border-bottom-color: #788417;
}
.pokeBox span.psychic {
  background-color: #f85888;
  border-top-color: #fa93b2;
  border-bottom-color: #f61d5e;
}
.pokeBox span.rock {
  background-color: #b8a038;
  border-top-color: #ceb95f;
  border-bottom-color: #89772a;
}
.pokeBox span.dragon {
  background-color: #7038f8;
  border-top-color: #9a73fa;
  border-bottom-color: #4a08eb;
}
.pokeBox span.ghost {
  background-color: #705898;
  border-top-color: #907bb2;
  border-bottom-color: #534271;
}
.pokeBox span.dark {
  background-color: #705848;
  border-top-color: #957560;
  border-bottom-color: #4b3b30;
}
.pokeBox span.steel {
  background-color: #b8b8d0;
  border-top-color: #dddde8;
  border-bottom-color: #9393b8;
}
.pokeBox span.fairy {
  background-color: #ffb7fa;
  border-top-color: #fff4fe;
  border-bottom-color: #ff7af6;
}/*# sourceMappingURL=pokeproyect.css.map */