@font-face{
    font-family: pokemon;
    src: url(./assets/Pokemon_solid.ttf)
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

.body{
    background-color: rgb(218, 31, 31);
    display: flex;
    flex-flow: column;
    align-self: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    
    & img{
        width: 40%;
        padding-bottom: 0.5vw;
        padding-top: 20px;
    }

    & h1{
        font-size: calc(8px + 1.5vw);
        padding-bottom: 2vw;
        max-width: 60%;
        line-height: calc(20px + 1.5vw);
        text-align: center;
        text-shadow: 4px 4px 0 rgb(50,100,175), 4px -4px 0 rgb(50,100,175), -4px 4px 0 rgb(50,100,175), -4px -4px 0 rgb(50,100,175), 4px 0px 0 rgb(50,100,175), 0px 4px 0 rgb(50,100,175), -4px 0px 0 rgb(50,100,175), 0px -4px 0 rgb(50,100,175);
        color: rgb(255,204,1);
        // Need to add font to proyect not just my PC
        font-family: "pokemon";
    }

    & >div:last-of-type{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(211,211,211);
        border: none;
        padding: 0 5px;
        width: 40%;
        height: 2vmax;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);

        & button {
            border: none;
            background-color: transparent;
            font-size: 1.3vmax;
            text-align: center;
            padding: 0;
            width: 5%;
            border-radius: 10px;
            margin-left: 4px;

            &:hover{
                cursor: pointer;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);

            }
        }

        & input{
            background-color: rgb(211,211,211);
            border: none;
            width: 100%;
            height: 2vmax;
            font-size: 1.5vmax;
            padding: 5px;
            text-align: center;
            border-radius: 10px;
        }
    }

    & div:first-of-type{
        position: absolute;
        border: 10px;
        border-radius: 100%;

        &.outerball{
            background-color: rgb(23,106,159);
            top: -4vw;
            left: -11vw;
            height: 23vw;
            width: 23vw;
            border: white 0.6vw solid;
        }

        &.innerball{
            box-sizing: border-box;
            top: 1.5vw;
            left: 3.5vw;
            height: 12.4vw;
            width: 12.4vw;
            background-color: white;
            border-bottom: rgb(40,171,253) solid 4vw;
            border-right: rgb(40,171,253) solid 3vw;
            border-top: rgb(40,171,253) solid 2vw;
            border-left: rgb(40,171,253) solid 2vw;
        }

    }

}

.main{
    position: relative;
    margin: 4% 10%;
    border: 2rem solid rgb(211,211,211);
    border-radius: 10px 10px 10px 70px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(32,32,32);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    min-height: 290px;
}

.pokeCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    background-color: rgba(230, 230, 230, 0.7);
    border-radius: 10px;
    padding: 4px 0px;
    width: 12%;
    min-width: 200px;
    max-height: 290px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.20);

    img{
        width: 100%;
    }

    h3{
        font-size: 1.8vmax;
        padding: 5%;
        text-transform: capitalize;
     }
}

.pokeCard:hover{
    background-color: rgb(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.65);
    transition: 220ms;
}

/* Type boxes style were adapted from a pen made by Julien Knebel (@jkneb - http://julienknebel.com/) */
.pokeBox {
    display: flex;
    justify-content: space-around;
    width: 100%;

    span {
        text-align: center;
        font-family: 'Trebuchet MS';
        font-weight: bold;
        text-align: center;
        border: .1rem solid transparent;
        margin: .1rem .015rem;
        padding: .1rem .2rem .1rem .2rem;
        border-radius: .4rem;
        font-size: calc(10px + 0.3vmax); 
        width: calc(58px + 1.5vw);
        min-width: 35px;
        color: white;
        text-shadow: 0rem 0rem .2rem black; 
        
        &.normal     { background-color: #a8a878; border-top-color: lighten(#a8a878,12%); border-bottom-color: darken(#a8a878,12%); }
        &.fire       { background-color: #F08030; border-top-color: lighten(#F08030,12%); border-bottom-color: darken(#F08030,12%); }
        &.fighting   { background-color: #c03028; border-top-color: lighten(#c03028,12%); border-bottom-color: darken(#c03028,12%); }
        &.water      { background-color: #6890f0; border-top-color: lighten(#6890f0,12%); border-bottom-color: darken(#6890f0,12%); }
        &.poison     { background-color: #a040a0; border-top-color: lighten(#a040a0,12%); border-bottom-color: darken(#a040a0,12%); }
        &.electric   { background-color: #f8d030; border-top-color: lighten(#f8d030,12%); border-bottom-color: darken(#f8d030,12%); }
        &.ground     { background-color: #e0c068; border-top-color: lighten(#e0c068,12%); border-bottom-color: darken(#e0c068,12%); }
        &.grass      { background-color: #78c850; border-top-color: lighten(#78c850,12%); border-bottom-color: darken(#78c850,12%); }
        &.flying     { background-color: #a890f0; border-top-color: lighten(#a890f0,12%); border-bottom-color: darken(#a890f0,12%); }
        &.ice        { background-color: #98d8d8; border-top-color: lighten(#98d8d8,12%); border-bottom-color: darken(#98d8d8,12%); }
        &.bug        { background-color: #a8b820; border-top-color: lighten(#a8b820,12%); border-bottom-color: darken(#a8b820,12%); }
        &.psychic    { background-color: #f85888; border-top-color: lighten(#f85888,12%); border-bottom-color: darken(#f85888,12%); }
        &.rock       { background-color: #b8a038; border-top-color: lighten(#b8a038,12%); border-bottom-color: darken(#b8a038,12%); }
        &.dragon     { background-color: #7038f8; border-top-color: lighten(#7038f8,12%); border-bottom-color: darken(#7038f8,12%); }
        &.ghost      { background-color: #705898; border-top-color: lighten(#705898,12%); border-bottom-color: darken(#705898,12%); }
        &.dark       { background-color: #705848; border-top-color: lighten(#705848,12%); border-bottom-color: darken(#705848,12%); }
        &.steel      { background-color: #b8b8d0; border-top-color: lighten(#b8b8d0,12%); border-bottom-color: darken(#b8b8d0,12%); }
        &.fairy      { background-color: #ffb7fa; border-top-color: lighten(#ffb7fa,12%); border-bottom-color: darken(#ffb7fa,12%); }
      }
}

.pokeDetails{
    justify-self: center;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: rgba(230, 230, 230, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.20);
    transition: 0.05s;
    padding: 1%;

    h3{
        text-transform: capitalize;
        font-size: 5vw;
        padding: 1% 0%;
    }

    button {
        position: absolute;
        height: 3vw;
        width: 3vw;
        min-width: 18px;
        min-height: 18px;
        text-align: center;
        font-size: calc(9px + 1vw);
        right: 2vw;
        top: 2vw;
        padding: 0;
        border-radius: 50px;
        border: 2px rgba(255, 255, 255, 0.20) solid;
        background-color: whitesmoke;

        &:hover{
            cursor: pointer;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);

        }
    }

    div{
        width: 100%;

       &.information{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;

        & .animations{
            display: flex;
            flex-flow: column;
            align-items: center;
            height: 100%;
            justify-content: space-around;
            width: 40%;

            img{
                scale: 2;
            }
        }

        & .stat-description{
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-around;

            & .stats-box {
                display: flex;
                flex-flow: column;
            }

            & .description{
                width: 100%;
                padding: 5%;
            }
        }
       }
    }
}
